body {
    background-color: #00abf0;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00abf0;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00abf0;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
}


h1, h2 {
    margin: 0;
}

.project {
    line-height: 1.5;
    color: white;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #081b29;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.project::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
}

.project h2 i {
    margin-right: 10px;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}
.fas{
    margin-right: 12px;
    font-size: 24px; 
    color: #00abf0;
}

